<ion-card (click)="cliqueNoCard()">
  <ion-card-header>
    <ion-item detail="false" lines="none" routerLink="/app/tabs/speakers/speaker-details/1">
      <ion-thumbnail slot="start">
        <img [src]="produto.imagem" alt="Imagem estatica">
      </ion-thumbnail>
      <ion-label>
        <h2 class="title-card">{{produto.nome}}</h2>
        <div>

          
          <avaliacao-app [avaliacao]="produto?.avaliacao" ></avaliacao-app>
          

        </div>
        <p><small>R$</small> {{produto.preco | moneyBr}}</p>
      </ion-label>
      <ion-icon *ngIf="!produto.carrinho" (click)="cliqueNoCarrinho($event)" color="primary" class="icon-acao" name="cart-outline"></ion-icon>
      <ion-icon *ngIf="produto.carrinho" (click)="cliqueNaLixeira($event)" color="danger" class="icon-acao" name="trash-outline"></ion-icon>
    </ion-item>
  </ion-card-header>
</ion-card>