/* Geral Aplication */

$gold-color: #f4c142;

:root{
    --ion-background-color: #ededed;
}

:root{
    --ion-text-color: #888888;
    --ion-text-color-rgb: 136, 136, 136;
    --ion-font-family: 'Montserrat Alternates', sans-serif;
}

:root {
	--ion-color-primary: #27d060;
	--ion-color-primary-rgb: 39,208,96;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #22b754;
	--ion-color-primary-tint: #3dd570;

	--ion-color-secondary: #38f9d7;
	--ion-color-secondary-rgb: 56,249,215;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #31dbbd;
	--ion-color-secondary-tint: #4cfadb;

	--ion-color-tertiary: #52cbff;
	--ion-color-tertiary-rgb: 82,203,255;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #48b3e0;
	--ion-color-tertiary-tint: #63d0ff;

	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

}


/* Menu Superior Toolbar */

:root{
    --ion-toolbar-color: white;
}

ion-header{
    box-shadow: -5px 10px 5px -7px rgb(200 200 200 / 71%);
    color: white;
    background: linear-gradient(269deg, #38f9d7, #2ad187 60%);
    border-radius: 0px 0px 15px 15px;
}

ion-toolbar{
    background: transparent;
    --background: transparent;
    --color: white;
    --min-height: 65px;
}

.header-md::after{
    opacity: 0;
}

/* Menu Inferior - tabbar */

:root{
    --ion-tab-bar-background: #ffffff;
    --ion-tab-bar-color: #888888;
    --ion-tab-bar-color-selected: #2cc883;
}

ion-tab-bar{
    border-radius: 20px 20px 0px 0px;
}

/* Ion-card */

ion-card{
    --background: white;
    background: white;
	border-radius: 15px;
	
	margin-top: 0px;
	margin-bottom: 0px;
}

ion-card:hover{
	transform: scale(1.03);
	transition-duration: 300ms;
}

ion-card-header{
	padding: 0px;
}

ion-thumbnail img{
	border-radius: 10px;
}

ion-item{
    --background: transparent;
}

.icon-star{
	color: $gold-color;
	font-size: 15px;
	letter-spacing: 0px;
}

ion-card ion-label .title-card{
	color: #5c5c5c;
	font-size: 15px;
	letter-spacing: 0px;
}



